.mini-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  max-height: 400px;
  max-width: 350px;
}

.mini-title {
  text-align: center;
  border-bottom: solid #2E4052;
  font-size: 1.5em;
  width: auto;
  margin-bottom: 2%;
  padding: 1%;
}

.mini-body {
  text-align: center;
}

