.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: var(--font-color);
  opacity: .85;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.overlay-body {
  font-size: .75em;
  overflow: hidden;
  margin: 3%;
}

.overlay-title {
  font-size: 1.3em;
}