.project-card {
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 5px;
  width: 80%;
  height: 300px;
  margin-left: 10%;
}

.project-img {
  grid-column: 1 / 6;
  grid-row: 1 / -1;
  overflow: hidden;
  border: solid var(--green-blue);
  border-radius: 5px;
}

.project-img > img {
  height: 100%;
  width: 100%;
}

.project-content {
  grid-column: 5 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project-title {
  font-weight: bold;
  text-align: right;
  font-size: 1.5em;
  margin-bottom: 5%;
  text-decoration: underline;
}

.project-desc {
  background: var(--green-blue);
  padding: 3%;
  margin-bottom: 2%;
}

.project-tags {
  text-align: right;
  margin-bottom: 2%;
  width: 80%;
  color: var(--light-blue)
}

.project-links {
  height: 20px;
  text-align: right;
  width: 40%;
}

.project-github > img {
  height: 100%;
  width: auto;
}

.project-link > img {
  height: 100%;
  width: auto
}

.project-github {
  padding-right: 5%;
}

@media (max-width: 678px) {
  .project-card {
    display: block;
    width: 100%;
    margin-left: 0;
  }

  .project-img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
  
  .project-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
  }

  .arrow {
    visibility: hidden;
  }

  .project-title, .project-tags, .project-links {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .project-tags {
    font-size: .75em;
  }

  .project-desc {
    font-size: .75em;
    background: transparent;
    text-align: center;
  }

  .project-title {
    margin-top: 1%;
  }
}
