/*///Common Section styling///*/

body {
	background-clip: border-box;
	background: white;
  font-family: monospace;
}

.section {
  position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 100vh;
}

.container {
	background: #e7eae0; /*rgb(210,180,140);*/
	width: 60%;
	display: flex;
	justify-content: center;
  flex-direction: column;
	align-items: center;
	align-content: center;
	padding: 2%;
}

.title {
  font-size: 2.5em;
  margin-bottom: 2vh;
}

/*///End common section///*/

/*///Nav-bar related Styling///*/
#nav-bar {
  position: fixed;
  display: flex-box;
  top: 0;
  width: 100vw;
  height: 7vh;
  background: #e7eae0;
  border-bottom-style: solid;
  border-bottom-color: #657a35;


  z-index: 2;
}

#nav-bar > .nav-items {
  float: right;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 40%;
  height: 100%;
}

.nav-item {
  /* Flexbox container */
  /* This vertically aligns the text in nav-item */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* End Flexbox container */

  /* Sizing */
  height: 100%;
  font-size: 1.5em;
  /* End Sizing */
  text-align: center;
  flex-grow: 1; 
  cursor: pointer;
}

.nav-item > a {
  text-decoration: none;
  color: black;
}

.nav-item > a:hover {
  color: gray;
  cursor: pointer;
}

/*///End Nav-bar///*/

/*///Footer///*/

#footer {
  bottom: 0;
  position: fixed;
  display: flex;
}

#footer-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer-item {
  margin-right: 1.5vh;
  margin-bottom: 1vh;
  max-height: 5vh;
  cursor: pointer;
}
/*///End Footer///*/

/*///Fun Fact///*/

#fun-fact {
  position: fixed;
  right: 0;
  bottom: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  max-width: 10vw;
  max-height: 5vh;
  right: 10vw;
  top: 28vh;
}

#fact-title {
  font-weight: bold;
}

@media(max-width: 768px) {
  #fun-fact {
    display: hidden;
  }
}
/*///End Fun Fact///*/

/*///Landing page related CSS///*/

#landing-container {
	width: 40%;
  height: 10%;
}

.site-intro > .intro-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 3.5em;
}

@media (max-width : 768px) {
  .site-intro > .intro-text {
    font-size: 1.5em;
  }
}
/*///End Landing Page///*/

/*///About Me Page///*/

#about-me > .container > .body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#about-me > .body > .text {
  text-align: justify;
  font-weight: 15em;
}

#about-me-img {
  max-width: 25vw;
  border-radius: 5%;
}
/*///End About Me///*/

/*///Skills///*/

#skills > .container > .body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

  font-size: 1.5em;
  
}

.skill-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.gold {
  color: gold;
}

.gray {
  color: gray;
}

.skill-name {
  min-width: 200px;
  padding-right: 5px;
}
/*///End Skills///*/

/*///Projects///*/
.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-name > a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.project-name > a:hover {
  cursor: pointer;
  color: gray;
}
.project-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.project-description {
  padding-right: 10%;
}

.project-img {
  border-radius: 25px;
  max-width: 35%;
  max-height: 25%;
}

/*///End Projects///*/